In [45]:
import pandas as pd
df = pd.read_csv("grafana_2019-2020.csv", header = 0, sep=",")
df

                  Time    Power      Date
0       22:28:39+05:00  7080.40  5/9/2019
1       22:29:09+05:00  7008.59  5/9/2019
2       22:29:40+05:00  7058.28  5/9/2019
3       22:30:09+05:00  7108.92  5/9/2019
4       22:30:39+05:00  7030.14  5/9/2019
...                ...      ...       ...
951521  22:26:31+05:00  9605.13  5/9/2020
951522  22:27:02+05:00  9479.81  5/9/2020
951523  22:27:31+05:00  9541.63  5/9/2020
951524  22:28:01+05:00  9491.91  5/9/2020
951525  22:28:31+05:00  9507.16  5/9/2020

[951526 rows x 3 columns]

In [46]:
import pandas as pd
df["Date"]
print("Original DataFrame:")
print(df)
df[["day" , "month", "year"]] = df["Date"].str.split("/", expand = True)
print("\nNew DataFrame:")
df.to_csv("grafana_sorted_2019_2020.csv",index=True)
df

Original DataFrame:
                  Time    Power      Date
0       22:28:39+05:00  7080.40  5/9/2019
1       22:29:09+05:00  7008.59  5/9/2019
2       22:29:40+05:00  7058.28  5/9/2019
3       22:30:09+05:00  7108.92  5/9/2019
4       22:30:39+05:00  7030.14  5/9/2019
...                ...      ...       ...
951521  22:26:31+05:00  9605.13  5/9/2020
951522  22:27:02+05:00  9479.81  5/9/2020
951523  22:27:31+05:00  9541.63  5/9/2020
951524  22:28:01+05:00  9491.91  5/9/2020
951525  22:28:31+05:00  9507.16  5/9/2020

[951526 rows x 3 columns]

New DataFrame:

                  Time    Power      Date day month  year
0       22:28:39+05:00  7080.40  5/9/2019   5     9  2019
1       22:29:09+05:00  7008.59  5/9/2019   5     9  2019
2       22:29:40+05:00  7058.28  5/9/2019   5     9  2019
3       22:30:09+05:00  7108.92  5/9/2019   5     9  2019
4       22:30:39+05:00  7030.14  5/9/2019   5     9  2019
...                ...      ...       ...  ..   ...   ...
951521  22:26:31+05:00  9605.13  5/9/2020   5     9  2020
951522  22:27:02+05:00  9479.81  5/9/2020   5     9  2020
951523  22:27:31+05:00  9541.63  5/9/2020   5     9  2020
951524  22:28:01+05:00  9491.91  5/9/2020   5     9  2020
951525  22:28:31+05:00  9507.16  5/9/2020   5     9  2020

[951526 rows x 6 columns]

In [210]:
import pandas as pd
df = pd.read_csv("grafana_2021.csv", header = 0, sep=",")
df

                  Time     Power       Date
0       18:25:54+05:00   8985.21  2/18/2021
1       18:26:24+05:00   9044.73  2/18/2021
2       18:26:54+05:00   9063.51  2/18/2021
3       18:27:24+05:00   9078.22  2/18/2021
4       18:27:54+05:00   9046.88  2/18/2021
...                ...       ...        ...
498518  14:16:42+05:00  10584.91  8/11/2021
498519  14:17:12+05:00  10627.91  8/11/2021
498520  14:17:42+05:00  10575.83  8/11/2021
498521  14:18:12+05:00  10533.15  8/11/2021
498522  14:18:42+05:00  10594.13  8/11/2021

[498523 rows x 3 columns]

In [211]:
import pandas as pd
df["Date"]
print("Original DataFrame:")
print(df)
df[["month" , "day", "year"]] = df["Date"].str.split("/", expand = True)
print("\nNew DataFrame:")
df.to_csv("grafana_sorted_2021.csv",index=True)
df

Original DataFrame:
                  Time     Power       Date
0       18:25:54+05:00   8985.21  2/18/2021
1       18:26:24+05:00   9044.73  2/18/2021
2       18:26:54+05:00   9063.51  2/18/2021
3       18:27:24+05:00   9078.22  2/18/2021
4       18:27:54+05:00   9046.88  2/18/2021
...                ...       ...        ...
498518  14:16:42+05:00  10584.91  8/11/2021
498519  14:17:12+05:00  10627.91  8/11/2021
498520  14:17:42+05:00  10575.83  8/11/2021
498521  14:18:12+05:00  10533.15  8/11/2021
498522  14:18:42+05:00  10594.13  8/11/2021

[498523 rows x 3 columns]

New DataFrame:

                  Time     Power       Date month day  year
0       18:25:54+05:00   8985.21  2/18/2021     2  18  2021
1       18:26:24+05:00   9044.73  2/18/2021     2  18  2021
2       18:26:54+05:00   9063.51  2/18/2021     2  18  2021
3       18:27:24+05:00   9078.22  2/18/2021     2  18  2021
4       18:27:54+05:00   9046.88  2/18/2021     2  18  2021
...                ...       ...        ...   ...  ..   ...
498518  14:16:42+05:00  10584.91  8/11/2021     8  11  2021
498519  14:17:12+05:00  10627.91  8/11/2021     8  11  2021
498520  14:17:42+05:00  10575.83  8/11/2021     8  11  2021
498521  14:18:12+05:00  10533.15  8/11/2021     8  11  2021
498522  14:18:42+05:00  10594.13  8/11/2021     8  11  2021

[498523 rows x 6 columns]

In [3]:
#import pandas as pd
#def count_days(fileName, period):
    #pd.read_csv(fileName, header = 0, sep=",")
    #return pd.Period(period).days_in_month

In [4]:
#print(count_days('grafana_sorted_2019_2020.csv', '19-5-9'))

In [5]:
#import pandas as pd
#def count_days(fileName, period):
    #pd.read_csv(fileName, header = 0, sep=",")
    #pd.Period(period).days_of_year

In [6]:
#print(count_days('grafana_sorted_2019_2020.csv', '19-5-9'))

In [7]:
# import pandas as pd
# import numpy as np
# df = pd.read_csv("grafana_sorted_2021.csv", header = 0, sep=",")
# x = df["year"]#.astype('<M8[D]')
# y = df["month"]#.astype('<M8[D]')
# z = df["day"]
# # Date Time Array
# len(y)
# y

In [8]:
# def count_days_in_month(days,month):
#     for i in x:
#         i = np.busday_count(days,month)
#         return i
    
# print(count_days_in_month(z,y))

In [9]:
import pandas as pd
def count_year(file_name):
    pd.read_csv(file_name, header = 0, sep=",")
    year = df["year"][0]
    counter = 1
    print(year)
    
    for i in df["month"]:
        if i != year:
            counter += 1
            month = i
            
    return counter
            
print(count_year("grafana_sorted_2021.csv"))

2021
498524

In [10]:
def count_day(file_name, dateVar):
    pd.read_csv(file_name, header = 0, sep=",")
    month = df[dateVar][0]
    counter = 1
    
    print('day=', counter)
    print('mon=', month)
    
    for i in df[dateVar]:
#         if i != month:
#             counter += 1
#             month = i
#             print('day=', counter)
#             print('mon=', month)
            
    return counter
            
print(count_day("grafana_2020.csv", 'month'))

IndentationError: expected an indented block (<ipython-input-10-dad2bf510459>, line 16)

In [ ]:
def count_date(file_name, dateVar):
    pd.read_csv(file_name, header = 0, sep=",")
    month = df[dateVar][0]
    counter = 1
    
    for i in df[dateVar]:
        if i != month:
            counter += 1
            month = i
            
    return counter
            
print(count_date("grafana_sorted_2021.csv", 'day'))

In [11]:
# import pandas as pd
# import numpy as np
# df = pd.read_csv("grafana_sorted_2021.csv", header = 0, sep=",")
# x = df["year"]#.astype('<M8[D]')
# y = df["month"]#.astype('<M8[D]')
# z = df["day"]
# # Date Time Array
# len(y)
# y

In [12]:
# def min_value(file_name):
#     pd.read_csv(file_name, header = 0, sep=",")
#     day = df["day"][0]
#     counter = 1
#     print(day)
    
#     for i in df["Power"]:
#         if i != day:
#             counter +=1
#             day = i
            
#     return counter

# print(min_value("grafana_sorted_2021.csv"))

In [13]:
# # def max_value(file_name):
#     pd.read_csv(file_name, header = 0, sep=",")
#     power = df["Power"][0]
#     counter = 1
#     print(power)
    
#     for i in df["day"]:
#         if i != max_power:
#             counter +=1
#             day = i
            
#     return counter
        
    
# print(max_value("grafana_sorted_2021.csv"))

In [14]:
# def max_value(file_name,  dateVar):
#     pd.read_csv(file_name, header = 0, sep=",")
#     day = df[dateVar][0]
#     power = df[dateVar].max()
#     counter = 1
#     print(day)
#     print(power)
    
#     for i in df[dateVar]:
#         if i != power:
#             counter += 1
#             day = i
#             #power = i
#     return counter

# print(max_value("grafana_sorted_2021.csv", "day"))

In [15]:
# def max_value(file_name,  dateVar):
#     pd.read_csv(file_name, header = 0, sep=",")
#     day = df[dateVar]
#     power = df["Power"].max()
#     print(power)
#     counter = 1
#     for i in day:
#         if i != power:
#             counter += 1
#             power = i
#     return counter
            
# print(max_value("grafana_sorted_2021.csv","day"))

In [16]:
# for i in df["days"][0]:
#     print(df["Power"][df["days"]])

In [17]:
# import pandas as pd
# import numpy as np
# df = pd.read_csv("grafana_2020.csv", header = 0, sep=",")


# def max_value(file_name, date, day, Power):
#     pd.read_csv(file_name, header = 0, sep=",")
#     data = df.groupby([date, day])['Power']
#     return data.min()
# (max_value("grafana_2020.csv", df["Date"], df["Day"], df["Power"]))

In [18]:
# df = pd.read_csv("grafana_2020.csv", header = 0, sep=",")

# def sample(file_name, power):
#     df = pd.read_csv(file_name, header = 0, sep=",")
#     data = df["Date"].groupby([power])
#     return data.max()
    
# (sample("grafana_2020.csv", df["Power"]))

In [19]:
# import pandas as pd
# df = pd.read_csv("grafana_2020.csv", header = 0, sep=",")

# def sample(file_name, time_var, power):
#     df = pd.read_csv(file_name, header = 0, sep=",")
#     for i in time_var, power:
#         i = df["Date"].groupby([power])
#         return i.max()
    
# (sample("grafana_2020.csv",df["Date"], df["Power"]))

In [20]:
# df = pd.read_csv("grafana_2019-2020.csv", header = 0, sep=",")
# x = pd.DataFrame(df)

# # def sample(file_name):
# #     df = pd.read_csv(file_name, header = 0, sep=",")
# #     data = df['Date'].groupby(df['Power'])
# #     return data.min()
    
# # (sample("grafana_2020.csv"))

In [21]:
# grouped = x.groupby(['Date', 'month'])

In [22]:
# grouped_power= grouped['Power']
# grouped_power.agg(max)

In [23]:
# grouped = df['Power'].groupby(df['Index'])

In [24]:
# grouped.min()

In [25]:
# s_grouped = df['Time'].groupby([df['Power'], df['Time']])
# s_grouped.max()

In [26]:
# import pandas as pd
# import numpy as np
# x = pd.read_csv("grafana_sorted_2021.csv", header = 0, sep=",")

# #df = pd.to_datetime(x['Date'],errors = 'coerce',format = '%m/%d/%Y').dt.strftime("%Y/%m/%d")





# # for i in x["Date"]:
# #     x["Date"].append(df)
# #     print(x)
    
    

# #df.to_csv("dates_sorted_2021.csv")
# #df
# x

In [27]:
# import numpy as np
# df = pd.read_csv("grafana_2020.csv", header = 0, sep=",")

# def max_value(file_name, day, time, Power):
#     pd.read_csv(file_name, header = 0, sep=",")
#     for i in day, Power:
#         i = (df.set_index(day, time).groupby(level=0)["Power"]
#                 .agg([('Average Power',np.average),('Maximum Power',np.max),('Minimum Power',np.min),("Total Energy Consumed",np.sum)]))
#         return i
# (max_value("grafana_2020.csv", df["Date"],df["Time"], df["Power"]))

In [28]:
# (df.set_index(["Date"]).groupby(level=0)["Power"]
#                 .agg([('Average Power',np.average),('Maximum Power',np.max),('Minimum Power',np.min),("Total Energy Consumed",np.sum)]))

In [29]:
# import pandas as pd
# import numpy as np
# df = pd.read_csv("grafana_2020.csv", header = 0, sep=",")


# def max_value(file_name, time_range):
#     pd.read_csv(file_name, header = 0, sep=",")
#     for i in time_range:
#         data = (df.set_index(time_range).groupby()
#                 .agg([('Average Power',np.average),('Maximum Power',np.max),('Minimum Power',np.min),("Total Energy Consumed",np.sum)]))
#         return data
               
# (max_value("grafana_2020.csv", df["Date"]))

In [30]:
# dataset = pd.read_csv("grafana_2020.csv", header = 0, sep=",")




# f = dataset.groupby(df['Date']).agg(Minimum_Date=('Power', np.min), Maximum_Date=('Power', np.max))
# display(f)
  
# # using agg() function on Date column
# df2 = df.agg(Minimum_Date=('Power', np.min), Maximum_Date=('Power', np.max))

# #display(df2)
  





# data = (df.set_index(df["Date"]).groupby(df["Power"]))
# data
    

#.agg([('Minimum Power',np.min),('Maximum Power',np.max)]))

In [31]:
# data = (df.set_index(df["Date"]).groupby(by = df["Time"])["Power"]
#                 #.agg([('Average Power',np.average),('Maximum Power',np.max),('Minimum Power',np.min),("Total Energy Consumed",np.sum)]))
# data

In [32]:
# import pandas as pd
# import numpy as np
# df = pd.read_csv("grafana_2019.csv", header = 0, sep=",")


# def max_value(file_name, day, Power):
#     pd.read_csv(file_name, header = 0, sep=",", low_memory=False)
#     for i in day, Power:
#         data = (df.set_index(day).groupby(level=0)["Power"]
#                 .agg([('Minimum Power',np.min),('Maximum Power',np.max)]))
#         return data
# (max_value("grafana_2019.csv", df["year"], df["Power"]))

In [267]:
# import pandas as pd
# import numpy as np
# df = pd.read_csv("grafana_sorted_2019_2020.csv", header = 0, sep=",")
# a = df["Power"][579132:]
# b = df["Date"][579132:]
# c = df["day"][579132:]
# d = df["month"][579132:]
# e = df["year"][579132:]

In [252]:
#  df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
#  ....: 'key2' : ['one', 'two', 'one', 'two', 'one'],
#  ....: 'data1' : np.random.randn(5),
#  ....: 'data2' : np.random.randn(5)})

In [33]:
# df

In [34]:
# df['data1'].groupby([df['key1'], df['key2']]).min()